.auth-container {
  height: calc(100vh - 64px);
}

.auth-block {
  width: max-content;
}

.item-img {
  transition: all 0.3s linear;
}

.item-img:hover {
  transform: scale(0.9);
}

.radio-btn:active,
.radio-btn:checked {
  border-color: #ffbb33;
  box-shadow: none;
}

.radio-btn:checked {
  background-color: #ffbb33;
}

.input-field:focus {
  border-color: #ffbb33;
}
